body {
    background: url(../img/1.jpg) no-repeat center center fixed; 
    background-size: cover;
    font-family: "Open Sans", sans-serif;
}

img {
    width:100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 26px;
}

.main-section {
    background-color: #fff;
    padding-right: 40px;
    padding-left: 30px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.72);
    padding-top: 40px;
}

.logo {
    height: 69px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.logo-text {
    padding-top:20px;
    padding-left: 20px;
    float: left;
}

.logo-image {
    float: left;
    width: 4%;
    
}

.right-bar {
    margin-top: 25px;
    margin-bottom: 40px;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: #ABE8CF;
    box-shadow: 1px 1px 2px 1px rgba(29, 28, 28, 0.51);
}

.recipe-title {
    padding-right: 30px;
}

.recipes p {
    font-size: 18px;
}

.recipes .ingredients p {
    font-size: 18px;
}

.recipes .ingredients {
    background-color: #FFA14B;
    height: auto;
    margin: 10px 10px;
    padding: 10px 10px;
    box-shadow: 1px 1px 3px #888888;
    color: #F0F0F0;
}

.category-image img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo-image img {
    width:100%;
}

.recipe-ingredients ul {
  background-color: #F5A541;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  letter-spacing: 0.5px;
  word-spacing: 5px;
  line-height: 22px;
  list-style: none;
}

.recipe-text {
    padding-top: 20px;
}

.recipe-instructions {
  letter-spacing: 0.5px;
  word-spacing: 5px;
  line-height: 22px;
}

.footer {
    height: 100px;
}